<h1>Listing authentications</h1>

<table>
  <tr>  	
    <th>User</th>
    <th>Uid</th>
	<th>Provider</th>
    <th></th>    
  </tr>

<% @authentications.each do |authentication| %>
  <tr>  	
    <td><%= authentication.user_id %></td>
    <td><%= authentication.uid %></td>
	<td><%= authentication.provider %></td>    
    <td><%= link_to 'Destroy', authentication, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<h2>Associate New Accounts</h2>
<ul>
	<li><%= link_to 'Twitter', "/auth/twitter" %></li>
	<li><%= link_to 'Facebook', "/auth/facebook" %></li>
</ul>



