<h1>index</h1>	
<%@post = []%>
<% if user_signed_in? %>
	Signed in as <%= current_user.email %>. Not you?
<ul> 
	<li><%= link_to "Sign out", destroy_user_session_path %></li>
	<li><%= link_to "My Posts", "/user/posts" %></li>
	<li><%= link_to "Create", new_post_path %></li>
</ul>
<%else%>
	<%= link_to "Sign up", new_user_registration_path %> or  
    <%= link_to "Sign in", new_user_session_path %>	
<%end%>

<% @posts = Post.order("created_at DESC")%>
<%for post in @posts%>		
	<h2><%= link_to "#{post.title}", post.url  %></h2>
	<p><%= post.url %></p>
	<p><%= post.description %></p>		
<%end%>

